<div class="player-container">
  <!--song-->
  <div class="img-container">
    <img
      [src]="'/assets/img/' + songs[songIndex].name + '.jpg'"
      alt="Album Art"
    />
  </div>
  <h2>{{ songs[songIndex].displayName }}</h2>
  <h3>{{ songs[songIndex].artist }}</h3>
  <audio
    #audio
    [src]="'/assets/music/' + songs[songIndex].name + '.mp3'"
  ></audio>

  <!--progress-->
  <div
    id="progress-container"
    class="progress-container"
    (click)="updateProgressBar($event)"
  >
    <div
      class="progress"
      [style.width.%]="(progressPercent$ | async) ?? 0"
    ></div>
    <div class="duration-wrapper">
      <span>{{ (currentTime$ | async) ?? "0:00" }}</span>
      <span>{{ (duration$ | async) ?? "0:00" }}</span>
    </div>
  </div>

  <!--controls-->
  <div class="player-controls">
    <i title="Previous" class="fas fa-backward" (click)="previousSong()"></i>
    <i
      class="fas fa-play main-button"
      [class.fa-play]="!isPlaying"
      [class.fa-pause]="isPlaying"
      [title]="isPlaying ? 'Pause' : 'Play'"
      (click)="isPlaying ? pauseMusic() : playMusic()"
    ></i>
    <i title="Next" class="fas fa-forward" (click)="nextSong()"></i>
  </div>
</div>
