<div class="player-container">
  <!--song-->
  <div class="img-container">
      <img src="/assets/img/jacinto-3.jpg" alt="Album Art">
  </div>
  <h2 id="title">Electric Chill Machine</h2>
  <h3 id="artist">Jacinto</h3>
  <audio src="/assets/music/jacinto-3.mp3"></audio>

  <!--progress-->
  <div id="progress-container" class="progress-container">
      <div id="progress" class="progress"></div>
      <div class="duration-wrapper">
          <span id="current-time">0:00</span>
          <span id="duration">0:00</span>
      </div>
  </div>

  <!--controls-->
  <div class="player-controls">
      <i class="fas fa-backward" id="prev" title="Previous"></i>
      <i class="fas fa-play main-button" id="play" title="Play"></i>
      <i class="fas fa-forward" id="next" title="Next"></i>
  </div>
</div>
