/* You can add global styles to this file, and also import other style files */
/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: hsl(210, 10%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
}
