/* You can add global styles to this file, and also import other style files */
/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: hsl(210, 10%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
}

.player-container {
    width: 400px;
    height: 500px;
    background: hsl(210, 10%, 91%);
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
    position: relative;
    top: -50px;
    left: 50px;
    width: 300px;
    height: 300px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.progress-container {
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress {
    background: hsl(0, 1%, 14%);
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}

@media screen and (max-width: 376px) {
    .player-container {
        width: 95vw;
    }

    .img-container {
        left: 29px;
    }
}

.player-controls {
    width: 200px;
    position: relative;
    top: -15px;
    left: 120px;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}
